{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bs4/css/bootstrap.css' %}" />
    <style>
        .logininput{
            width:100%;
            height:40px;
            border:0px;
            border-bottom:2px solid #ccc;
        }
        .logininput:focus{
            box-shadow:none;
            outline: 0px;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row shadow-lg mt-5">
            <div class="col-md-6 p-5" style="background:#fff;">
                <h1 class="mb-4 display-4">Login</h1>
                <p>Don't have account <a href="{% url 'signup' %}">Create one </a> It's free and take only a minute. </p>
                <input type="text" name="username" class='logininput mt-3' placeholder="Username" />
                <input type="password" name="password" class='logininput mt-3' placeholder="Password" />
                <input type="submit" value='Login' class="btn btn-success mt-5"/>
            </div>
            <div class="col-md-6" style='background:url("{% static 'images/loginimg.jpg' %}")'></div>
        </div>
    </div>
</body>
</html>